html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#split-container {
    height: calc(100vh - 56px); /* Full height minus navbar height */
}

#editor {
    border-left: 1px solid #ddd;
    overflow: hidden;
}

.CodeMirror {
    height: 100%;
}
